.contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    
    &__container {
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 70px;
        text-align: center;
    }
    &__content {
        display: flex;
        justify-content: center;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__form {
        position: relative;
        @media(min-width: 767px) {
            margin-right: 100px;
        }
    }
    &__form::after {
        content:'';
        position: absolute;
        top:-50px;
        left:0;
        width: 100%;
        height:100%;
        background: url('../img/02.gif') center 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;//rgba(51, 51, 51, 0.9);
    }
    ._sending::after {
        content:'';
        position: absolute;
        top:-50px;
        left:0;
        width: 100%;
        height:100%;
        background: url('../img/02.gif') center 50px no-repeat;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease 0s;//
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    &__item {
        display: flex;
        flex-direction: row;
    }
    &__item:not(:last-child) {
        margin-bottom: 37px;
    }
    &__icon {
        width: 24px;
        height: 24px;
    }
    &__link {
        margin-left: 20px;
        a {
            color:#333;
            font-family: TT Hoves;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media(max-width: 767px) { 
                font-size: 18px;
            }
        }
    }
}
.input-container {
    margin-bottom: 14px;
    input {
        width: 374px;
        height: 56px;
        border-radius: 61px;
        background: #9FDEA9;
        color: white;
        font-weight: 700;
        padding-left: 20px;
    }
}
.form-button {
    width: 168px;
    height: 56px;
    border-radius: 61px;
    border: 3px solid #4DB96B;
    background-color: #FFF;
    font-weight: 700;
    color: #4DB96B;
    text-align: center;
    
}
.form-button-container {
    display: flex;
    justify-content: center;
    @media(max-width: 767px) {
        margin-bottom: 20px;
    }
}
.form-input._error {
    box-shadow: 0 0 15px red;
}